{% extends 'go_back.html' %}  {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>index</title>
</head>
<body>
    {% block content %}
    <div id="content" class="bg-black text-white h-screen flex  items-center flex-col">

            <div id="title" class="flex justify-center items-center h-1/3 font-thin">
            <h1>Conversión Decimal a Binario</h1>
            </div>

    <div class="w-1/2 bg-white rounded-2xl py-8 text-black flex items-center justify-center flex-col gap-5">
            <label for="decimalInput">Ingrese un número decimal:</label>
            <input type="number" class=" border-black border-2 px-2 rounded-xl" id="decimalInput" min="0">
            <button onclick="convertir()" class="bg-green-700 py-5 px-3 rounded-2xl">Convertir</button>
            <p>Resultado binario: <span id="resultadoBinario"></span></p>
        </div>
    </div>    

    

    <script src="https://cdn.tailwindcss.com"></script>

<script src="{% static 'scripts/script.js' %}">

    </script>

{% endblock %}
</body>
</html>