{% extends 'go_back.html' %} {% load static %}

{% block content %}

<div id="content" class="bg-black text-white h-screen flex  items-center flex-col justify-center ">

    <div id="title" class="flex justify-center items-center h-1/3 font-thin">
        <h1>Código Morse</h1>
    </div>

    <div id="traducir"
        class="w-1/2 bg-white rounded-2xl py-8 text-black flex items-center justify-center flex-col gap-5 absolute shadow-xl shadow-slate-600">
        <h2 class="text-gray-400 font-serif">Código Morse a Texto</h2>
        <label for="morseInput" class="font-serif"">Ingrese código Morse:</label>
        <input type="text" id="morseInput" class="font-serif border-black border-2 px-2 rounded-xl">
        <button onclick="convertirMorseATexto()" class="bg-green-700 py-5 px-3 rounded-2xl font-serif">Convertir a Texto</button>
        <p>Resultado en Texto: <span id="resultadoTexto"></span></p>
    
        <a href="{% url 'morse2' %}" class="hover:bg-gray-800 hover:transition-all transition-all bg-white rounded-2xl px-2 py-3 hover:text-white font-serif">Cambio de modo</a>
    
    </div>


        
  


</div>


<script src="https://cdn.tailwindcss.com"></script>
<script src="{% static 'scripts/morse.js' %}"></script>

{% endblock %}